* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
}

img {
  width: 100%;
  height: 100%;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(../../fonts/Poppins-Regular.ttf);
}
body {
  background-image: url(../images/bg-desktop.svg);
}

.logo {
  width: 16.5rem;
  height: 4.06rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  padding: 3rem 0;
}

.mockup {
  width: 55%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 39%;
  margin-top: 5rem;
}

h1 {
  color: hsl(0, 0%, 99%);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.4rem;
}

.description p {
  color: hsl(0, 0%, 99%);
  margin: 1rem 0 2rem;
  font-family: "Poppins";
  font-weight: 400;
}

a.register {
  color: hsl(257, 40%, 49%);
  width: 11rem;
  text-align: center;
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem 0.2rem hsl(257, 36%, 52%);
  background-color: hsl(0, 0%, 99%);
  font-family: "Poppins";
  font-weight: 400;
  transition: background-color, color 0.5s ease-in-out;
}
a.register:hover {
  background-color: hsl(300, 69%, 71%);
  color: hsl(0, 0%, 99%);
}

footer {
  padding: 2rem 0;
  display: flex;
  justify-content: end;
}

footer ul {
  width: 9rem;
}

ul li {
  cursor: pointer;
  color: hsl(0, 0%, 99%);
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 99%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color, border 0.3s ease-in-out;
}
ul li a {
  color: inherit;
  text-align: center;
  width: 1rem;
  height: 1rem;
}
ul li:hover {
  border: 1px solid hsl(300, 100%, 63%);
  color: hsl(300, 100%, 63%);
}

@media (900px < width <= 1100px) {
  .container {
    max-width: 95%;
  }
  .container {
    max-width: 95%;
  }
}
@media (900px < width <= 1100px) {
  .description {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}
@media (800px < width <= 900px) {
  .description {
    margin-top: 2rem;
    width: 42%;
  }
  h1 {
    font-size: 1.8rem;
  }
  .description p {
    font-size: 0.9rem;
  }
  a.register {
    width: 9rem;
  }
}
@media (width <= 800px) {
  body {
    background-image: url(../images/bg-mobile.svg);
  }
  header {
    padding: 1.5rem 0;
  }
  .logo {
    width: 50%;
    height: -moz-max-content;
    height: max-content;
  }
  main .flex {
    flex-direction: column;
  }
  .mockup,
  .description {
    width: 100%;
  }
  .description {
    text-align: center;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  .description p {
    font-size: 1.02rem;
  }
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a.register {
    width: 70%;
  }
  footer {
    justify-content: center;
  }
}
@media (width <= 800px) {
  .description {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=main.css.map */